.cards-box {
  background-color: #fff;
  padding: 30px 0;
}
.green-content {
 text-align: center;
}
.card-theme {
	@include textStyle(34px, 900, 40px, #2a2a2a);
  font-family: "Serif pro";

}

.green-line {
  width: 80px;
  height: 4px;
  border-radius: 4px;
  background-color: $bc-b;
	margin: 10px auto 20px auto;
}
.menu-cat {
	@include flexBox(flex, center, center, wrap);

}
.cat-item {
  margin: 0 15px;
  transition: all 0.5s ease;

  &:hover{
    scale: 1.1
  }

  a{
    animation: marking 0.3s both ease-in-out ;
  }


  a:hover::before {
    animation: marking 0.3s both ease-in-out ;
    transform: scalex(1) ;
  }
  
  @keyframes marking {
    0%{
      transform: scalex(0.2) ;
    }
  
    20%{
      transform: scalex(0.4) ;
    }
  
  
    40%{
      transform: scalex(0.6) ;
    }
  
    60%{
      transform: scalex(0.8)  ;
    }
  
    80%{
      transform: scalex(0.9);
  
    }
  
    
    100%{
      transform: scale(1);
  
    }
  
    
  }
 a::before {
    width: 100%;
    height: 1px;
    background-color: #2a2a2a;
    content: '';
    transform: scaleX(0);
    position: absolute;
    bottom: 0;


  }
  
  a{
	@include textStyle(16px, 500, 30px, #2a2a2a);
  font-family: "Serif pro";
  opacity: 0.8; 
  transition: all 0.5s ease;
  &:hover {
    opacity: 1;
  }
} 

}









.cards {
  padding: 20px 0;
}
.feat-line {
	@include flexBox(flex, space-between, center, wrap);

}
.feat-item {
text-align: center;
width: 270px;
height: 276px;
}
@mixin allBtn($bgColor, $bRadius, $border, $padding) {
	background-color: $bgColor;
	border-radius: $bRadius;
	border: $border;
	padding: $padding;
}
.feat-btn {
@include allBtn($c-b, none, none, 10px 20px);
margin-top: 10px;
transition: all 0.5s ease;

cursor: pointer;

&:hover {
  scale: 1.1;
}

&:active{
  scale: 1;
}


}
.feat-text {
  @include textStyle(20px, 400, 20px, #2a2a2a);
	font-family: "Serif pro";
}
.feat-price {
  @include textStyle(20px, 900, 20px, #2a2a2a);
	font-family: "Serif pro";
  margin-top: 5px;
}


@media (max-width:570px) {
  .feat-line {
    overflow-x: scroll;
	@include flexBox(flex, space-between, center, nowrap);
    
  }
}